<h1>お知らせ一覧</h1>
<div class="row">
  <div class="col-md-10">
    <%= render 'notifications/index', notifications: @notifications %>
  </div>
</div>
<%= render 'layouts/pagenate', pagenation: @pagenation %>