<% if current_page?(projects_path) %>
  <h1>募集一覧（新着順)</h1>
<% elsif current_page?(user_joined_project_index_path(current_user.id)) %>  
  <h1>申し込み済みの募集一覧</h1><p>※取消不可の企画は、DMやコメントにて直接募集ユーザーに御連絡下さい。</p>
<% else %>
  <h1>いいねを押した募集一覧</h1>
<% end %>
</h1>
<div class="row">
  <%= render 'projects/index', projects: @projects %>
</div>
<% if current_page?(projects_path) || current_page?(user_joined_project_index_path(current_user.id)) %>
  <%= render 'layouts/pagenate', pagenation: @pagenation %>
<% end %>