<div class="border border-secondary text-center mb-1">
    <div>
      <h2>このサイトについて</h2>
    </div>
    <div>
      <p>このサイトは日々ストリーム活動に勤しんでいるVtuberさんたちの、<br>
         コラボ企画募集の一助となるように作成されたサイトです。<br>
         このサイトが少しでもストリーマー活動の役に立ち、
         皆様の活動がより一層楽しいものとなる様、願っております。
      </p>
    </div>
</div>  
<div class="border border-secondary text-center">
    <div>
      <h2>利用の際の注意</h2>
    </div>
    <div class="text-left ml-5">
      <ur>
        <li>
          このサイトは活動中のVtuberさんたち向けのサイトとなります。<br>
          Vttuberではない方のコラボ企画募集や参加は御遠慮ください。
        </li>
        <li>
          当サイトでの企画募集や参加申し込みは、あくまで企画の募集や参加のやり取りを簡便にするものであり、<br>
          当サイトが企画の開催や参加を保証するものではありません。
        </li>
        <li>
          当サイトで募集されている企画は、当サイトの運営者が企画したものではありません。<br>
          企画内容へのお問い合わせは、募集されているユーザー様へお願いいたします。
        </li>
         <li>
          当サイトでは公序良俗に反した内容の企画、犯罪行為に抵触するおそれのある企画の募集は御遠慮いただいております。<br>
          もしそれらの企画の募集が発覚した場合、アカウントの凍結などを行う可能性があります。
        </li>
         <li>
          当サイトでの企画募集や、企画への参加申し込みによって、犯罪行為や迷惑行為に巻き込まれた場合、<br>
          当サイト運営の方では、責任を取りかねますのでご了承ください。
        </li>
         <li>
          ユーザー同士に問題が生じた場合、ユーザー間の問題に関しましては、原則運営の方では解決いたしかねますのでご了承下さい。<br>
          ただし悪質なコメントや当サイト内での迷惑行為につきましては、メールフォームよりお問い合わせください。<br>
          (ただし、意向に沿う問題の解決をは保証いたしかねます)
        </li>
      </ur>
    </div>
</div>  