<div class="col-md-1"></div>
<div class="col-md-7">
  <%= form_with url: project_comments_path, model: ProjectComment, local: false do |f| %>
    <%= f.text_area :comment, class: "w-100" %>
    <%= f.hidden_field :project_id, value: project.id %>
    <%= f.submit "送信" %>
  <% end %>
</div>