<h1>コメント一覧</h1><p>コメントのスコアが-0.5以降は赤字、0以降は黄色、それ以外は緑色で表示しています。</p>
<div class="row", id="comments_list">
  <%= render "project_comments/index", project_comments: @project_comments %>
</div>
<%= render 'layouts/pagenate', pagenation: @pagenation %>